name: build
on: [ push, pull_request ]
jobs:
  build:
    strategy:
      matrix:
        java: [ 17-jdk ]
    runs-on: ubuntu-20.04
    container:
      image: eclipse-temurin:${{ matrix.java }}
      options: --user root
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v1

      - name: Make Gradle wrapper executable
        run: chmod +x ./gradlew

      - name: Build
        run: ./gradlew check build --stacktrace --parallel --warning-mode=fail

      - name: Release
        run: ./gradlew release
